@model IEnumerable<ElectronicShop.Models.ProductViewModel>
@{
    var pathImage = ViewData["PathImage"];
}
@foreach(var item in Model)
                        {   
                            <div class="col">
                                <a asp-controller="Products" asp-action="Detail" asp-route-id="@item.Id" class="text-dark">
                                    <div class="card sanPham">
                                        <img src="@pathImage" class="card-img-top" alt="Image of Amply">
                                        <div class="card-body border-top">
                                            <p class="card-title fw-bold">@Html.DisplayFor(modelItem => item.NameProduct)</p>
                                            <small class="card-text text-secondary d-none d-md-block">@Html.DisplayFor(modelItem => item.Information)</small>
                                        </div>
                                        <div class="card-footer bg-white text-center">
                                            @* <input id="star" type="hidden" class="rating" name="sao" value="@item.SoSaoTrungBinh" disabled /><span> (@item.SoLuot) </span> *@
                                            <p class="card-text lead text-primary">@Html.DisplayFor(modelItem => item.Price) đ</p>
                                            <button class="btn btn-primary" type="button" >Mua ngay</button>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
<script type="text/javascript" src="~/bootstrapRating/bootstrap-rating.js"></script>