@model IEnumerable<NewsViewModel>

<div class="container">
<p class="text-danger">@ViewBag.ErrorMessage</p>
    <form asp-controller="News" asp-action="Search" >
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Tìm kiếm tin tức"  name="keyword" autocomplete="off" >
            <button class="btn btn-outline-success" type="submit" id="button-addon1">Tìm kiếm</button>
        </div>
    </form>
    <h4 class="text-danger">@ViewBag.ErrorMessage</h4>
   <div class="row row-cols-1 row-cols-lg-3 g-3 justify-content-center">
        @if(Model.Count() == 0)
        {
            <h3> Không có bản tin</h3>
        }
        else
        {
        @foreach (var newsItem in Model)
        {
           <div class="card col mx-3" style="width: 18rem; height: auto;">
                <div class="card-header">
                    <img src="@newsItem.UrlToImage" class="card-img-top img-fluid" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">@newsItem.Title</h5>
                    <p class="card-text text-secondary">@newsItem.Description</p>
                </div>
                <div class="card-footer">
                    <p>Thời gian đăng: @newsItem.PublishedAt</p>
                    <a href="@newsItem.Url" class="btn btn-primary" target="_blank">Xem chi tiết</a>
                </div>
            </div>
        }
        }
            
</div>
<div>