@model ElectronicShop.Models.ProductViewModel


@* Chi tiet San Pham *@
<section id="chitiet ">
    <div class="container-xl align-items-center">
        <div class="row">
            <div class="col-md-6">
                <img src="~/images/Tivi.png" class="img-fluid" alt="anhSanPham">
            </div>
            <div class="col-md-6 pt-3">
                <h1>@Html.DisplayFor(model=> model.NameProduct)</h1>
                <p class=" lead text-secondary mb-3">@Html.DisplayFor(model => model.Information)</p>
                <h2 class="text-primary mb-3">@Html.DisplayFor(model => model.Price) đ</h2>
                @* <input id="star" type="hidden" class="rating" name="sao" value="@Model.SoSaoTrungBinh" disabled /><span> ( @Model.SoLuot )</span> *@
                <p class="lead">
                    Còn: @Html.DisplayFor(model => model.Quantity) (sp)</p>
                <div>
                    
                    <form id="themVaoGioHang" asp-controller="SanPhams" asp-action="ThemVaoGioHang" asp-route-id="@Model.ProductId" >
                        <button class="btn btn-outline-secondary py-0 giam">-</button>
                        <input type="number" value="1" max="99" min="1" name="soLuong"
                            style="width: 50px;">
                        <button class="btn btn-outline-secondary py-0 tang">+</button>
                        <div class="my-3">
                            <button class="btn btn-warning btn-lg" id="toastBtnThemVaoGioHang" type="button">
                            Thêm vào giỏ hàng
                            </button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</section>
@* 
<section id="reviews" class="bg-light">
    <div class="container-lg my-5">
        <div class="text-center">
            <h2>Đánh giá</h2>
        </div>
        <!-- Collapse tao review -->
        <div class="row justify-content-center border-bottom">
            <div class="col-md-8  text-center">
                <p>
                    //data-bs-toggle="collapse" data-bs-target="#taoReview" aria-expanded="false" aria-controls="collapseExample" 
                    <button id="btnCollapseTao" class="btn btn-primary" type="button" >
                        Tạo bài đánh giá
                    </button>
                </p>
                <div class="collapse" id="taoReview">
                    <div class="card card-body">
                        
                        <form id="postReview" asp-controller="SanPhams" asp-action="ThemReview" asp-route-id="@Model.ProductId"  enctype="application/x-www-form-urlencoded"  > 
                            <div class="mb-3">
                                <label for="sao"> Đánh giá: </label>
                                <input id="sao" type="hidden" class="rating" min="1" name="SoSao" />
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="TieuDe" id="tieuDe" placeholder="Tieu De" autocomplete="off" required>
                                <label for="tieuDe">Tiêu đề</label>
                            </div>
                            <div class="form-floating mb-3">
                                <textarea class="form-control" name="NoiDung" placeholder="Leave a comment here"
                                    id="noiDung" style="height: auto;" required></textarea>
                                <label for="noiDung">Nội dung</label>
                            </div>
                            <button class="btn btn-secondary pe-3" type="button" data-bs-toggle="collapse"
                                data-bs-target="#taoReview" aria-expanded="false"
                                aria-controls="collapseExample">Hủy</button>
                            <button class="btn btn-success" id="toastBtnTaoReview" type="button">Tạo</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hien thi cac review  -->
        <div class="row justify-content-center my-5">
            <!-- Hien thi nd cac review -->
            <div class="col-lg-9 review review-body">

            </div>
        </div>
    </div>
</section> *@

@* Toast for thong bao*@
<div class="position-fixed top-50 start-50 translate-middle p-3" style="z-index: 11">
    <div id="liveToast" class="toast hide bg-light" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto text-primary h3">Thông báo</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" data-bs-target="#liveToast" data-bs-autohide="false" aria-label="Close"></button>
        </div>
        <div class="toast-body text-center">
            
        </div>
    </div>
</div>



<script>
    GetReviews();
    $(document).ready(function () {  
        $("button#btnCollapseTao").click(function(){
            var idSanPham = @Model.ProductId;
            $.get("/Reviews/DaReview?idSanPham=" + idSanPham,function(data){
                $(".toast-body").html(data);
            } );
        })
        //Thong bao loi Them Review
        $("button#toastBtnTaoReview").click(function (event) {
            event.preventDefault();
            
            var formData = new FormData();
            var soSao = $("input#sao").val();
            var tieuDe =  $("input#tieuDe").val();
            var noiDung = $("textarea#noiDung").val();
            formData.append("SoSao", soSao );
            formData.append("TieuDe",tieuDe);
            formData.append("NoiDung",noiDung);
           
            var idSanPham = @Model.ProductId;

            $.ajax ({
            type: "POST",
            url: "/Reviews/ThemReview?idSanPham=" + encodeURI(idSanPham),
            data: formData,
            encode: true,
            dataType: "html",
            contentType: false,
            async: true,
            processData: false,
            cache: false,
            success: (function (data) {
                $(".toast-body").html(data);
                GetReviews();
                $("#postReview")[0].reset();
                $("div#taoReview").collapse("hide");
                //alert("thanh kong k?" + " x " + data);
               }),
            error: function(){
                alert("Loi Me no roi");
            }
            });
        });
        //Thong Bao loi them vao gio hang
        $("button#toastBtnThemVaoGioHang").click(function(){
            var idSanPham = @Model.ProductId;
            var valInput = $(this).parent().siblings("input").val();
            var formData= "id=" + idSanPham + "&soLuong=" + valInput;
            $.post("/SanPhams/ThemVaoGioHang?" + encodeURI(formData),function(data){
                $(".toast-body").html(data);
            });
        });
        $(document).click(function(){
            //Dong toast
            var thongBao = $("div#liveToast");
            var toast = new bootstrap.Toast(thongBao);
            //toast.hide();

            //Dong modal
            // $('.collapse').collapse('toggle');
        });
        //Nut tang giam input
        $("button.tang").click(function () {
            event.preventDefault();
            var input = $(this).siblings("input");
            var valInput = parseInt(input.val());
            input.val(valInput +1);
            //$(this).siblings("input").val(parseInt($(this).siblings("input").val()) + 1);
        });
        $("button.giam").click(function () {
            event.preventDefault();
            var input = $(this).siblings("input");
            var valInput = parseInt(input.val());
            if (valInput > 1) {
                input.val(valInput - 1);
            }
        });
    });
    function ShowToast() {
        var thongBao = $("div#liveToast");
        var toast = new bootstrap.Toast(thongBao);
        toast.show();
    };
    function GetReviews()
    {
        var idSanPham = @Model.ProductId;
        $.ajax({
            type: "GET",
            url:"/Reviews/GetReviewViewModel",
            data: { idSanPham : idSanPham},
            dataType:"html",
            contentType:false,
            success:(function(data){
                $(".review-body").html(data);
            }),
            error: (function(data){
                alert("Loi Me no roi");
            })
        });
    }

</script> 
