@model IEnumerable<ElectronicShop.Models.ProductViewModel>
    @{
    var categoriesNames = ViewData["CategoriesNames"] as IList<string>;
        }
        @foreach ( var categoryName in categoriesNames)
        { var pathImage = "images/" + categoryName + ".png";
        <h2>@categoryName</h2>
       <div id="carouseProduct1" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active"> 
                    <div class="row row-cols-5 justify-content-center">
                        @foreach (var product in Model)
                        {
                        if(product.Category == categoryName)
                        {
                        <div class="col p-0" >
                            <div class="card" >
                                 <a  asp-controller="Products" asp-action="Detail" asp-route-id="@product.Id"> 
                                <img src="@pathImage" class="card-img-top" alt="...">
                                </a> 
                                <div class="card-body">
                                    <p class="card-title lead d-none d-md-block ">@product.NameProduct</p>
                                    <p class="card-text text-secondary  d-none d-md-block">@product.Information</p>
                                    <p class="text-primary"> @Html.DisplayFor(modelItem =>product.Price)  đ</p>
                                    <span>
                                    <input id="star" type="hidden" class="rating" value="@product.AverangeStar" disabled />
                                    @product.AverangeStar (@product.QuantityAllReview)
                                    </span>
                                    
                                </div>
                                <div class = "card-footer text-center">
                                    <a class=" btn btn-primary" asp-controller="Products" asp-action="Detail" asp-route-id="@product.Id">Chi tiết</a>
                                </div>
                            </div>
                        </div>
                        }
                        }
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouseProduct1"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouseProduct1"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button> 
                    </div>
                </div>
            </div>
        </div> 
        }
        <script type="text/javascript" src="~/bootstrapRating/bootstrap-rating.js"></script>