@model IEnumerable<ElectronicShop.Models.ProductViewModel>
@{
    
}
<div class="container-xl my-5">
    <div class="text-center">
        <h2>
            @* @Html.DisplayFor(model => model.Type) *@

        </h2>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    @* <div class="row row-cols-3 row-cols-md-6 g-4 ">
        @foreach(var item in Model)
        {
        @if(item.Type == "Tivi")
        {
        <div class="col">
            <a asp-area="" asp-controller="SanPhams" asp-action="ChiTiet" asp-route-id="@item.Id" class="text-dark">
                <div class="card sanPham">
                    <img src="images/Tivi.png" class="card-img-top" alt="Image of TV">
                    <div class="card-body border-top">
                        <p class="card-title fw-bold">@Html.DisplayFor(modelItem => item.NameProduct)</p>
                    </div>
                    <div class="card-footer text-center">
                        <input id="star" type="hidden" class="rating" name="sao" value="@item.SoSaoTrungBinh"
                            disabled /><span> (@item.SoLuot) </span>
                        <p class="card-text lead text-primary">@Html.DisplayFor(modelItem => item.Price) đ</p>
                        <button class="btn btn-primary" type="button">Mua ngay</button>
                    </div>
                </div>
            </a>
        </div>
        }
        }
    </div> *@
</div>